<h1>Listing Cars</h1>
<div class="button">
<%= link_to 'Back', "/cars" %>
</div>

<table>
  <thead>
    <tr>
      <th>Slot No</th>
      <th>Registration Number</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
     <% @parking_slot.each do |park| %>
        <% cars=Car.where("id = ? and UPPER(registration_number) = UPPER(?)", park.car_id,params[:registration_number]) %>
           <% cars.each do |car| %>
      <tr>
        <td><%= park.id %></td>
        <td><%= car.registration_number %></td>
      </tr>
    <% end %>
  <%end%>
  </tbody>
</table>
<br>



