<h1>Listing Cars</h1>

<table>
  <thead>
    <tr>
      <th>Slot No</th>
      <th>Registration Number</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @parking_slot.id %></td>
        <% unless @cars.blank? %>
          <td><%= @cars.registration_number %></td>
        <% end %>
      </tr>
  </tbody>
</table>

<br>
<div class="button">
<%= link_to 'Back', "/cars" %>
</div>

